AUTH_URL=https://qang-core.rxservices.mckesson.com/mps/auth/v1/oauth/token
API_BASE_URL=https://qa-erx.rxservices.mckesson.com/ndcq03/api/v1/patientintake
AUTH_USER_ID=
AUTH_PASSWORD=
DB_USER=
DB_PASSWORD=
DB_CONNECT_STRING=
